
.esriGEPaginatableTableInfographic {
    overflow-x: hidden;
    font-size: 13px;
}

    /* No Data Placeholder */

    .esriGEPaginatableTableInfographic .paginatableTableInfographic_noDataPlaceHolder {
        text-align: center;
    }

    .esriGEPaginatableTableInfographic .paginatableTableInfographic_noDataPlaceHolderLabel {
        text-align: center;
        font-style: italic;
        margin-top: 5px;
        color: #AAAAAA;
    }

    /* content */

    .esriGEPaginatableTableInfographic .paginatableTableInfographic_contentDiv {
        position: relative;
    }

    /* Pagination */

    .esriGEPaginatableTableInfographic .Pagination .Pagination_TriangleBack {
        margin-left: 0px;
        z-index: 1; /* above the grid ? */
        display: none;
    }

    .esriGEPaginatableTableInfographic .Pagination .Pagination_TriangleForward {
        margin-right: 0px;
        display: none;
    }

    .esriGEPaginatableTableInfographic .Pagination .Pagination_Items {
        left: 0px;
        right: 0px;
    }

    /* arrows */

    .esriGEPaginatableTableInfographic .Pagination .Pagination_PageAndArrows {
        bottom: 0px;
    }

    .esriGEPaginatableTableInfographic:hover .Pagination .Pagination_TriangleBack,
    .esriGEPaginatableTableInfographic:hover .Pagination .Pagination_TriangleForward,
    .esriGEReportPlayerMobile .esriGEPaginatableTableInfographic .Pagination .Pagination_TriangleBack,
    .esriGEReportPlayerMobile .esriGEPaginatableTableInfographic .Pagination .Pagination_TriangleForward {
        display: block;
        background-color: rgba(100, 100, 100, 0.75);
        border-radius: 50%;
        width: 40px;
        height: 40px;
        background-position: center;
        background-size: 10px;
    }

    .esriGEPaginatableTableInfographic:hover .Pagination .Pagination_TriangleBack,
    .esriGEReportPlayerMobile .esriGEPaginatableTableInfographic .Pagination .Pagination_TriangleBack {
        background-image: url('../../../themes/common/images/paginationArrows/LeftArrowWhite.svg');
    }

    .esriGEPaginatableTableInfographic:hover .Pagination .Pagination_TriangleForward,
    .esriGEReportPlayerMobile .esriGEPaginatableTableInfographic .Pagination .Pagination_TriangleForward {
        background-image: url('../../../themes/common/images/paginationArrows/RightArrowWhite.svg');
    }

        .esriGEPaginatableTableInfographic:hover .Pagination .Pagination_TriangleBack.Pagination_TriangleDisabled,
        .esriGEPaginatableTableInfographic:hover .Pagination .Pagination_TriangleForward.Pagination_TriangleDisabled,
        .esriGEReportPlayerMobile .esriGEPaginatableTableInfographic .Pagination .Pagination_TriangleBack.Pagination_TriangleDisabled,
        .esriGEReportPlayerMobile .esriGEPaginatableTableInfographic .Pagination .Pagination_TriangleForward.Pagination_TriangleDisabled {
            display: none;
        }

    /* standard bullets */

    .esriGEPaginatableTableInfographic .Pagination .Pagination_Bullets {
        display: none;
    }

    /* custom bullets */

    .esriGEPaginatableTableInfographic .paginatableTableInfographic_pageNavigatorDiv {
        position: absolute;
        left: 0px;
        right: 0px;
        bottom: 0px;
        height: 30px;
        text-align: center;
        line-height: 32px;
    }

    .esriGEPaginatableTableInfographic.hasFootnote .paginatableTableInfographic_pageNavigatorDiv {
        left: auto;
        right: 30px;
        text-align: right;
    }

    .esriGEPaginatableTableInfographic .paginatableTableInfographic_pageNavigatorDiv .esriGEPageNavigator {
        color: #4d4d4d;
    }

    /* Title */

    .esriGEPaginatableTableInfographic .paginatableTableInfographic_titleDiv {
        position: absolute;
        left: 0px;
        top: 0px;
        right: 0px;
    }

    /* Footnote */

    .esriGEPaginatableTableInfographic .paginatableTableInfographic_footNoteDiv {
        position: absolute;
        left: 30px;
        bottom: 0px;
        height: 30px;
        line-height: 32px;
        font-style: italic;
    }

    /* Highlight */

    .esriGEPaginatableTableInfographic .esriGEAdjustableGrid > .adjustableGridMainNode > .esriGEAdjustableGridValueField > .fieldCellHighlightScreen {
        background-color: rgba(0, 145, 251, 0.2) !important;
        pointer-events: none;
    }