.esriGEOnDemandSelect {
    width: auto;
    display: inline-block;
}

    .esriGEOnDemandSelect .onDemandSelect_openButton {
        border: 1px solid #BCBCBC;
        background-color: #FFFFFF;
        height: 21px;
        cursor: pointer;
        min-width: 40px;
    }

    .esriGEOnDemandSelect .onDemandSelect_selectedLabel {
        display: block;
        margin-left: 8px;
        position: relative;
        color: #4c4c4c;
        top: 3px;
        max-width: 250px;
    }

.dj_gecko .esriGEOnDemandSelect .onDemandSelect_selectedLabel {
    margin-right: 25px;
}

.esriGEOnDemandSelect .onDemandSelect_selectedLabel.placeHolder {
    font-style: italic;
    white-space: nowrap;
    opacity: 0.5;
}

.esriGEOnDemandSelect .onDemandSelect_selectedItem {
    display: block;
    margin-left: 8px;
    position: relative;
}

/* Drop Down */

.esriGEOnDemandSelect .onDemandSelect_arrow {
    float: right;
    margin: 0 5px;
    width: 12px;
    height: 20px;
    background-image: url('./images/arrows/drop-down.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: inline-block;
    cursor: pointer;
}

.dj_rtl .esriGEOnDemandSelect .onDemandSelect_arrow {
    float: left;
}

.dj_rtl .esriGEOnDemandSelect .onDemandSelect_selectedLabel,
.dj_rtl .esriGEOnDemandSelect .onDemandSelect_selectedItem {
    margin-left: 0px;
    margin-right: 8px;
}

.dj_rtl.dj_gecko .esriGEOnDemandSelect .onDemandSelect_selectedLabel {
    margin-left: 25px;
}


/* Flow List */
.esriGEOnDemandSelectFlowListPopup {
    background-color: transparent;
    margin-top: 1px;
}

.esriGEOnDemandSelectFlowList {
    background-color: #FFFFFF;
    width: auto;
    max-height: 153px;
    overflow-y: auto;
    overflow-x: hidden;
}

/* Disable Overlay */

.esriGEOnDemandSelect .esriGEDisabledContent {
    margin-left: -1px;
    margin-right: -1px;
}

/* Special Stylings */

/* Select */

/* #1 No background */

.esriGEOnDemandSelectNoBackground.esriGEOnDemandSelect .onDemandSelect_openButton {
    border: none;
    background-color: transparent;
}

/* #2 No arrow */

.esriGEOnDemandSelectNoArrow.esriGEOnDemandSelect .onDemandSelect_arrow {
    display: none;
}

/* #3 White */

.esriGEOnDemandSelectWhite.esriGEOnDemandSelect,
.esriGEOnDemandSelectWhite.esriGEOnDemandSelect .onDemandSelect_selectedLabel {
    color: white;
}

    .esriGEOnDemandSelectWhite.esriGEOnDemandSelect .onDemandSelect_arrow,
    .esriGEOnDemandSelectWhite.esriGEOnDemandSelect .onDemandSelect_arrow:hover {
        background-image: url('./images/arrows/drop-down-light.svg');
    }

/* List */

/* #1 Tall list */

.esriGEOnDemandSelectTallList.esriGEOnDemandSelectFlowList {
    max-height: 300px;
}

/* #2 Very tall list */

.esriGEOnDemandSelectVeryTallList.esriGEOnDemandSelectFlowList {
    max-height: 400px;
}

.esriGEOnDemandSelectVeryTallList600.esriGEOnDemandSelectFlowList {
    max-height: 600px;
}

.esriGEOnDemandSelectVeryTallList800.esriGEOnDemandSelectFlowList {
    max-height: 800px;
}

/* #3 Unlimited tall list */

.esriGEOnDemandSelectUnlimitedTallList.esriGEOnDemandSelectFlowList {
    max-height: 2000px;
}

/* #4 Spaced out */

.esriGEOnDemandSelectSpacedOut.esriGEOnDemandSelectFlowList .listItem {
    padding: 10px;
}
