      html, body { 
        height: 100%; width: 100%; margin: 0; padding: 0; 
      } 
      body{
        background-color:white; overflow:hidden; font-family: "Trebuchet MS"; 
      }
      #header {
        border: solid 2px #7EABCD;
        padding-top:5px;
        padding-left:10px;
        background-color:white; color:peru; font-size:18pt;
        text-align:left; font-weight:bold;
        height:65px;
      }
      .roundedCorners{
         -moz-border-radius: 4px;
      }
      .shadow{
         /*slight shadow effect added for browsers that support this functionality*/
        -o-border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
         box-shadow: 4px 4px 8px #adadad;
        -webkit-box-shadow: 4px 4px 8px #adadad;
        -moz-box-shadow: 4px 4px 8px #adadad;
        -o-box-shadow: 4px 4px 8px #adadad;
      }
      #subheader {
        font-size:small;
        padding-left: 40px;
        color: peru;
      }
      #rightPane{
        background-color:white;
        color:peru;
        margin:5px;
        border: solid 2px cornflowerblue;
      }
      #map {
        background-color:white;
        border:solid 2px cornflowerblue;
        margin:5px;
      }
      #footer {
        border: solid 1px #7EABCD;
        background-color:white;color:peru;font-size:10pt; text-align:center; height:40px;
      }