.esriRFxArgSlider {
	margin: 10px 0px;
	padding-right: 3px;
}

.esriRFxArgSlider table {
	width: 100%;
}

.esriRFxArgSlider .esriRFxArgSliderNumberSpinnerCell {
	width: 70px;
	/* width: 30px!important; */
}

.esriRFxArgSlider .esriRFxArgSliderNumberSpinner {
	width: 100%;
	margin-left: 5px;
	height: 2.3em!important;
}