      html,body {
        height:100%;
        width:100%;
        margin:0;
        padding:0;
      }
      body {
        color:#555;
        font-size:14px;
        overflow:hidden;
        font-family:"Arial Narrow", Helvetica, Arial sans-serif;
      }

      #header {
        overflow:hidden;
        height:70px;
        margin:0;
      }

      #title {
        color:#DDD;
        font-size:30px;
        font-weight:bolder;
        padding-top:10px;
        padding-left:25px;
        text-shadow:2px 2px 0 #333;
      }

      #subtitle {
        padding-left:25px;
        padding-top:5px;
      }

      #map {
        border:solid 4px #666;
        -webkit-border-radius:6px;
        -moz-border-radius:6px;
        border-radius:6px;
        margin:15px 20px 15px 20px;
        padding:0;
      }